footer
    background #4D4D4D
    border-top 2px solid $vermelho
    .footer-main
        padding 22px 0
        .center
            clearfix()
        .col
            float left
            margin-right 40px
            +below($tablet)
                display none
            a
                display block
                opensans 14
                color #fff
                margin-bottom 3px
                &:before
                    content '\00BB'
                    color $vermelho
                    margin-right 5px
                &:hover
                    color $vermelho
        .col-form
            width 515px
            float right
            +tablet()
                margin 0 auto
                float none
            +mobile()
                width 100%
                float left
            img
                float left
            form
                float right
                width calc('100% - 120px')
                p
                    opensans 16 bold
                    color #fff
                    margin 0 0 14px
                input
                textarea
                    width 100%
                    display block
                    margin-bottom 2px
                    background #666666
                    border 0
                    outline none
                    opensans 12
                    color #fff
                    padding 0 4px
                    height 20px
                    resize none
                    +placeholder()
                        color rgba(#fff, .5)
                .field-group
                    width 45%
                    float left
                    input:last-child
                        margin-bottom 0
                    +mobile()
                        width 100%
                        margin-bottom 2px
                textarea
                    width 45%
                    height 64px
                    float left
                    margin 0 2px
                    padding 3px 4px
                    +mobile()
                        width 100%
                        margin 0 0 2px
                input[type=submit]
                    width calc('10% - 4px')
                    float left
                    height 64px
                    background $img('seta-enviar.png') no-repeat center #666666
                    text-indent -9999px
                    cursor pointer
                    transition background .3s
                    &:hover
                        background-color $vermelho
                    +mobile()
                        width 100%
                        height 32px
                #form-contato-footer-response
                    display none
                    width 100%
                    float left
                    margin-top 2px
                    border 2px solid rgba(#000, .4)
                    padding 8px 10px
                    opensans 11 bold
                    color $vermelho
                    text-align center
                    text-transform uppercase
    .footer-copyright
        background #333333
        padding 10px 0
        p
            text-align center
            margin 0
            opensans 10
            color #fff
            a
                text-decoration none
                &:hover
                    color $vermelho
        +mobile()
            span
                font-size 0
                display block
