header
    background #EBEFEF
    position relative
    &:after
        content ''
        position absolute
        width 100%
        height 50px
        left 0
        bottom 0
        background #000
        +mobile()
            height 45px
    .top-nav
        width 100%
        margin-bottom 15px
        text-align right
        font-size 0
        +mobile()
            display none
        > a
            display inline-block
            padding 25px 15px 5px 15px
            opensans 13
            color #000
            &:hover
                color $vermelho
            &.active
                background $vermelho
                color #fff
        .social
            display inline-block
            margin-left 15px
            font-size 0
            vertical-align top
            padding-top 24px
            a
                display inline-block
                width 16px
                height 16px
                text-indent -9999px
                transition background .3s
                background-position center top
                background-repeat no-repeat
                margin-left 3px
                &:hover
                    background-position center bottom
                &.facebook
                    background-image $img('ico-facebook.png')
                &.twitter
                    background-image $img('ico-twitter.png')
                &.linkedin
                    background-image $img('ico-linkedin.png')
    .main-nav
        position relative
        z-index 2
        padding-bottom 20px
        font-size 0
        clearfix()
        +mobile()
            padding 14px 0 20px
        .logo
            display block
            width 220px
            height 59px
            float left
            background $img('marca-gpparts.png') no-repeat center
            text-indent -9999px
            margin-right 10px
            +mobile()
                height 50px
                background-size auto 100%
                background-position center left
        a:not(.logo)
            display inline-block
            height 45px
            line-height 45px
            transform skewX(-12deg)
            border-radius 5px
            background $vermelho
            opensans 14 normal italic
            color #fff
            padding 0 16px
            margin-right 4px
            margin-top 13px
            min-width 110px
            text-align center
            transition background .3s, color .3s
            +tablet()
                min-width auto
                font-size 13px
            +mobile()
                display none
            &:hover
            &.active
                background #373435
                color $vermelho
            span
                display block
                transform skewX(12deg)
            &.busca-direta-handle
            &.busca-avancada-handle
                background #4D4D4D
                position relative
                vertical-align top
                span
                    padding-right 30px
                &:hover
                    color #fff
                    background-color #222222
                +tablet()
                    font-size 0
                    padding 0
                    min-width 40px
                    span
                        padding 0
                        background-position center !important
            &.busca-direta-handle span
                background $img('lupa-busca.png') no-repeat right center
            &.busca-avancada-handle span
                background $img('lupa-buscaavancada.png') no-repeat right center
        #mobile-toggle
            +above($mobile)
                display none
            background $vermelho
            height 45px
            width 55px
            float right
            transform skewX(-12deg)
            border-radius 5px
            margin-top 4px
            cursor pointer
            button
                cursor pointer
                display block
                background-color transparent
                border 0
                position absolute
                height 22px
                width 30px
                right 12px
                bottom 23px
                outline 0
                padding 0
                +mobile()
                    height 100%
                    bottom 0
                .lines
                    display block
                    width 100%
                    height 4px
                    background #fff
                    position relative
                    transition .3s ease
                    border-radius 2px
                    &:before
                    &:after
                        content ""
                        display block
                        position absolute
                        left 0
                        width 100%
                        height 4px
                        border-radius 2px
                        background #fff
                        transition .3s ease
                    &:before
                        top 8px
                    &:after
                        top -8px
            &.close
                button
                    .lines
                        background transparent
                        &:before
                        &:after
                            transform-origin 50% 50%
                            top 0
                        &:before
                            transform rotate3d(0,0,1,45deg)
                        &:after
                            transform rotate3d(0,0,1,-45deg)

#nav-mobile
    background $vermelho
    text-align center
    padding 25px 0
    display none
    +above($mobile)
        display none !important
    > a
        display block
        margin 0 0 5px
        opensans 14 bold
        color #fff
        &.active
            color #000
        &.busca-direta-handle
        &.busca-avancada-handle
            display inline-block
            transform skewX(-12deg)
            border-radius 5px
            background #4D4D4D
            position relative
            vertical-align top
            text-indent -9999px
            height 40px
            width 50px
            margin-top 10px
            span
                display block
                height 100%
                padding 0
                background-position center !important
                transform skewX(12deg)
                background $img('lupa-busca.png') no-repeat center
        &.busca-avancada-handle span
            background $img('lupa-buscaavancada.png') no-repeat center

    .social
        display block
        margin-top 10px
        font-size 0
        a
            display inline-block
            width 16px
            height 16px
            text-indent -9999px
            background-position center top
            background-repeat no-repeat
            margin-left 3px
            &.facebook
                background-image $img('ico-facebook.png')
            &.twitter
                background-image $img('ico-twitter.png')
            &.linkedin
                background-image $img('ico-linkedin.png')

.not-found
    width 100%
    text-align center
    padding 180px 0
    +tablet()
        padding 120px 0
    +mobile()
        padding 80px 0
    h1
        display inline-block
        padding 12px 18px
        border 2px solid $vermelho
        opensans 13 bold
        color $vermelho
        text-transform uppercase
