desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1280px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$vermelho = #EE3537

@import url('https://fonts.googleapis.com/css?family=Lato:300|Open+Sans:300,400,700')

opensans($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == light
        font-weight 300
    if $weight == bold
        font-weight 700

lato($size, $style = normal)
    font-size $size + 0px
    font-family 'Lato', 'Helvetica', 'Arial', sans-serif
    font-weight 300
    font-style $style
