.contato
    background #EBEFEF
    overflow hidden
    .center
        position relative
        min-height 595px
        img
            display block
            position absolute
            right 50%
            top 0
        .texto
            margin-left 50%
            padding 50px 0 35px 35px
            +tablet()
                padding-top 35px
            h2
                lato 24
                margin 0 0 20px
            p
                opensans 24 bold
            form
                clearfix()
                input
                textarea
                    padding 4px 10px
                    display block
                    width 100%
                    resize none
                    outline none
                    border 0
                    opensans 15
                    background #C8D2D2
                    margin-bottom 3px
                    +mobile()
                        font-size 14px
                textarea
                    height 180px
                    display block
                input[type=submit]
                    display block
                    float right
                    width 66px
                    height 32px
                    background $img('seta-enviar-faleconosco.png') no-repeat center $vermelho
                    transition background .3s
                    text-indent -9999px
                    cursor pointer
                    &:hover
                        background-color #000
                #form-contato-response
                    display none
                    width 100%
                    float left
                    margin-bottom 3px
                    border 2px solid rgba(#000, .4)
                    padding 8px 10px
                    opensans 11 bold
                    color $vermelho
                    text-align center
                    text-transform uppercase
        +mobile()
            min-height auto
            img
                width 115%
                margin-left -7.5%
                position relative
                right auto
            .texto
                margin 0
                padding 25px 0
                h2
                    font-size 20px
                p
                    font-size 20px
