.home-banners
    background #000
    width 100%
    padding 5px 0 30px
    .banner
        position relative
        &:after
            content ''
            display block
            position absolute
            width 100%
            height 100%
            top 0
            left 0
            background $img('grid-banner.png') no-repeat center
            background-size 100% auto
            z-index 102
        img
            &:first-child
                display block
                width 100%
            &:last-child
                display block
                position absolute
                bottom 1px
                right 25%
                width 25%
                height auto
                +mobile()
                    bottom 0

.home-marcas
    padding 20px 0
    background #fff
    .marcas-wrapper
        font-size 0
    img
        display block
        padding 0 12px
        outline none
