.marcas
    background #EBEFEF
    padding 65px 0
    h2
        lato 24
        margin 0 0 50px
        text-align center
    +mobile()
        padding 25px 0
        h2
            text-align left
            font-size 20px
            margin-bottom 25px
    .row
        margin-bottom 10px
    .marcas-thumbs
        clearfix()
        > a
            display block
            float left
            width calc('20% - 8px')
            margin-right 10px
            transition border .3s
            border 1px solid #fff
            &:nth-child(5n)
                margin-right 0
            img
                display block
                width 100%
                background #fff
                padding 15px
                +tablet()
                    padding 10px
                +mobile()
                    padding 5px
            &.active
                border 1px solid #000
    .detalhes
        display none
        background #000
        margin 35px 0 20px
        +mobile()
            margin 25px 0 15px
        .center
            padding 25px 0
            position relative
            clearfix()
            +mobile()
                padding 20px 0
        .seta
            position absolute
            top -20px
            left 0
            width 40px
            height 0
            border-style solid
            border-width 0 20px 20px 20px
            border-color transparent transparent #000000 transparent
            transition opacity .3s
            opacity 0
            +mobile()
                width 20px
                top -10px
                border-width 0 10px 10px 10px
        &.active .seta
            opacity 1
        .imagem
            width 50%
            float left
            img
                display block
                width 100%
            +mobile()
                width 100%
                margin-bottom 15px
        .texto
            width 44%
            float right
            padding-top 10px
            +mobile()
                width 100%
                padding-top 0
            h3
                opensans 20 bold
                color $vermelho
                margin 0
                text-transform uppercase
                +mobile()
                    font-size 16px
            p
                opensans 14
                color #fff
                &:last-child
                    margin-bottom 0
                a
                    display block
                    background $vermelho
                    opensans 12 bold italic
                    color #fff
                    max-width 250px
                    padding 5px 10px
                    transition background .3s, color .3s
                    &:first-child
                        margin-top 20px
                    margin-top 3px
                    &:hover
                        background #fff
                        color $vermelho
                    + br
                        display none

.marcas-banner
    background #000
    .banners-wrapper
        width 100%
        max-width 1200px
        margin 0 auto
        img
            width 100%
            display block
