.representantes
    .encontre
        background #EBEFEF
        padding 65px 0
        text-align center
        h2
            lato 24
            margin 0 0 20px
        .select
            display block
            width 100%
            max-width 600px
            margin 0 auto
            background #C8D2D2
            padding 15px
            select
                width 100%
                background #C8D2D2
                opensans 16 bold
                border 0
                outline 0
                border-radius 0
            + .select
                margin-top 10px
        +mobile()
            padding 25px 0
            text-align left
            h2
                font-size 20px
            .select
                padding 10px
                select
                    font-size 15px
        .representantes-show
            margin-top 45px
            font-size 0
            text-align left
            +mobile()
                margin-top 30px
            .representante
                width calc('33.333% - 20px')
                display inline-block
                vertical-align top
                border-top 1px solid $vermelho
                padding 10px 5px 0
                margin-bottom 25px
                margin-right 30px
                +mobile()
                    width 100%
                    margin-right 0
                &:nth-child(3n)
                    margin-right 0
                p
                    opensans 16
                    margin 0
                    .telefone
                        font-weight 700
                    a
                        display block
                        opensans 12 bold
                        &:hover
                            color $vermelho

#form-representante
    background #C8D2D2
    padding 65px 0
    +mobile()
        padding 25px 0
    h2
        lato 24
        margin 0 0 30px
        text-align center
        +mobile()
            font-size 20px
            margin-bottom 20px
            text-align left
    .input
        width 100%
        margin 0 auto 5px
        max-width 720px
        clearfix()
    label
        width 110px
        float left
        text-align right
        opensans 14
        padding-right 10px
        line-height 30px
    input
    textarea
        height 30px
        width calc('100% - 110px')
        background #fff
        outline 0
        border 0
        resize none
        display block
        padding 5px
        opensans 15
    textarea
        height 130px
    #form-representantes-response
        width calc('100% - 110px')
        +below($tablet)
            width calc('100% - 110px')
        float right
        display none
        margin-bottom 3px
        border 2px solid rgba(#000, .4)
        padding 8px 10px
        opensans 11 bold
        color $vermelho
        text-align center
        text-transform uppercase
    input[type='submit']
        float right
        background $vermelho
        transition background .3s
        opensans 14 bold
        color #fff
        padding 4px 26px
        outline 0
        cursor pointer
        &:hover
            background #000
