.sobre
    background #EBEFEF
    overflow hidden
    .center
        position relative
        min-height 595px
        img
            display block
            position absolute
            right 50%
            top 0
        .texto
            margin-left 50%
            padding 50px 0 35px 35px
            +tablet()
                padding-top 35px
            h2
                lato 24
                margin 0 0 20px
            p
                opensans 14
                line-height 1.5
                margin 1.2em 0
                &:last-child
                    margin-bottom 0
        +mobile()
            min-height auto
            img
                width 115%
                margin-left -7.5%
                position relative
                right auto
            .texto
                margin 0
                padding 25px 0
                h2
                    font-size 20px
